     @include('reusables.index-banner')

     @include('reusables.search')
    
     @include('reusables.job-categories')

     @include('reusables.job-listing')

    @include('reusables.featured-candidates')

     @include('reusables.sub-banner')

     @include('reusables.testimonials')

    <!--  Footer -->
     @include('reusables.footer')

